.header {
    width: 100%;
    height: 40px;
    display: block;
    background-color: #101010;
}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15.996px;
}

.upload {
    top: 10px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 20px 0px 6.98438px;

    position: absolute;
    /* height: 74.98px; */
    left: 0px;
    top: 0px;
}

.sign {
    position: absolute;
    height: 56px;
    left: 1250px;
    top: calc(50% - 21px/2-2px);
}

.slogan {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    padding-: 50px;
    left: 20px;
    position: absolute;
}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.title_container {
    height: 136%px;
    float: middle;
    display: table;
}

.title_container h1{
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.12px;
    
        color: white;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
}

.navigation {
    float: left;
    height: 100%;
    right: 0px;
    top: 74.98px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15.996px;
    line-height: 60px;
}

.upload {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15.996px;
}

.wrapped {
    position: absolute;
 }